/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}
a {
    color: inherit;
}
/* VARIABLES */
:root {
    --light-color: #eeeeee;
    --dark-color: #0c0c0c;
    --grey-color: #202020;
    --main-color: #28bd8a;
    --red-color: #bd3528;
}
/* GENERAL */
html {
    color: var(--light-color);
    background-color: var(--dark-color);
    font-size: 16px;
}
/* main {
    padding-top: 48px;
} */
/* UTILITES */
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.main-color {
    color: var(--main-color);
}
.raleway {
    font-family: "Raleway", serif;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}
.oswald {
    font-family: "Oswald", serif;
}
/* HEADER */
header {
    height: 48px;
    width: 100;
    padding: 0 48px;
    background-color: var(--dark-color);

    & .navbar {
        justify-content: space-between;
        align-items: center;
        & .navbar_left {
            gap: 72px;
            & .logo {
                font-size: 1.5rem;
                align-items: center;
            }
            & .navbar_left_main {
                gap: 40px;
                align-items: center;
            }
        }
        & .navbar_right {
            gap: 24px;
            align-items: center;
        }
    }
}
