/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
/* VARIABLES */
:root {
    --light-color: #eeeeee;
    --dark-color: #0c0c0c;
    --grey-color: #202020;
    --main-color: #28bd8a;
    --red-color: #bd3528;
    --header-height: 48px;
}
/* GENERAL */
html {
    color: var(--light-color);
    background-color: var(--dark-color);
    font-size: 16px;
}
main {
    --side-padding: 3rem;
    padding-top: var(--header-height);
    font-size: 16px;
}
/* UTILITES */
.container {
    width: calc(100% - (var(--side-padding) * 2));
    margin: 0 auto;
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.main-color {
    color: var(--main-color);
}
.raleway {
    font-family: "Raleway", serif;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}
.oswald {
    font-family: "Oswald", serif;
}
/* HEADER */
header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--dark-color);
    position: fixed;
    z-index: 5;
    padding: 0 3rem;

    & .navbar {
        justify-content: space-between;
        align-items: center;
        padding-top: 6px;
        font-size: 16px;

        & .navbar_left {
            gap: 72px;

            & .logo {
                font-size: 24px;
                align-items: center;
            }

            & .navbar_left_main {
                gap: 40px;
                align-items: center;
            }
        }

        & .navbar_right {
            gap: 24px;
            align-items: center;
        }
    }
}

/* FOOTER */
.footer {
    border-top: 1px solid var(--light-color);
    justify-content: space-around;
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 0;
    & .footer_column {
        gap: 1rem;

        & .column_title {
            font-size: 18px;
            font-weight: 500;
        }

        & .column_links {
            padding-left: 0.5rem;
            gap: 0.5rem;
        }

        &.footer_column__bot {
            justify-content: end;
            gap: 0;
        }

        & .logo {
            font-size: 48px;
        }
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}
