/* FILM DETAILS */

.details {
    margin-top: 3rem;

    & .film-info {
        width: 100%;
        height: 23rem;
        padding: 3rem 5rem;
        background-color: var(--grey-color);
        border-radius: 10px;
        gap: 0.7rem;
        margin-bottom: 3rem;

        & .film-info_genres {
            gap: 1rem;
            align-self: end;
            top: 2rem;
            right: 4rem;
            font-weight: 200;
            font-size: 1.5rem;
        }

        & .film-info_title {
            font-size: 3.5em;
            font-weight: 700;
        }

        & .film-info_data {
            font-size: 1.5em;
            font-weight: 200;
            gap: 2rem;
        }

        & .film-info_synopsis {
            font-size: 1.3em;
            font-weight: 300;
        }
    }

    & .film-staff {
        justify-content: space-evenly;

        & .film-staff_title {
            font-size: 1.2em;
            margin-bottom: 1rem;
        }
        & .casting_cards {
            gap: 1rem;
        }
        & .film-staff_card {
            width: 8rem;
            height: 12rem;
            border-radius: 10px;
            position: relative;

            & img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            & .casting_card_role {
                position: absolute;
                bottom: 1rem;
                text-align: center;
            }
            & .film-staff_card_name {
                text-align: center;
            }
        }
    }
}
