.hidden {
    display: none;
}
.form-list {
    margin-top: 1rem;
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;

    & .form-list_button:nth-child(1) {
        border-left: none;
    }

    & .form-list_button {
        flex: 1;
        cursor: pointer;
        /* border-bottom: 1px solid var(--light-color); */
        border-left: 1px solid var(--light-color);
        transition: all 0.3s ease;

        &:hover {
            color: var(--dark-color);
            background-color: var(--light-color);
        }
    }
}
