/* FROMS NAVBAR */
.form-list {
    margin-top: 1rem;
    width: 100%;
    font-weight: 500;
    font-size: 24px;

    & .form-list_button {
        padding-bottom: 8px;
        opacity: 0.5;
        flex: 1;
        cursor: pointer;
        border-bottom: 1px solid var(--light-color);
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }

        &.active {
            opacity: 1;
        }
    }
}

/* FORMS */
.forms {
    width: 100%;
    margin: 6rem auto 0;
    & .edit-form {
        gap: 3rem;
        width: 100%;
    }
    & .form {
        gap: 3rem;
        justify-content: center;
        align-items: center;

        & .edit-form_entry {
            width: 100%;
        }
        & .form-block-line {
            gap: 7rem;
            width: 100%;
        }

        & .form-block {
            gap: 1.5rem;
            flex: 1;
            align-items: center;
            width: 100%;
        }

        & .form-line {
            gap: 1.5rem;
            align-items: flex-end;
            width: 100%;
        }

        & .input-and-label {
            width: 100%;
        }

        & input[type="text"],
        select,
        input[type="date"] {
            width: 100%;
            height: 2rem;
            padding-left: 1rem;

            &.input_half-size {
                width: calc((20rem / 2) - (1.5rem / 2));
            }
            &::placeholder {
                color: var(--grey-color);
                font-size: 16px;
                opacity: 0.5;
            }
        }

        & textarea {
            width: 100%;
            height: 20rem;
        }

        & fieldset {
            border-radius: 1rem;
            padding: 1rem;
            width: 100%;

            & .roles-field {
                width: 100%;
                justify-content: space-evenly;
            }
            & .genres-field {
                height: 20rem;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 1rem;

                & .genres-field_genres {
                    width: 50%;
                    padding: 0;
                }
            }
        }

        & input[type="submit"] {
            padding: 0 2rem;
            width: 16rem;
            height: 2rem;
            background-color: var(--main-color);
            color: var(--dark-color);
            font-size: 20px;
            font-weight: medium;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            &.del-btn {
                background-color: var(--red-color);
            }
        }
    }

    p {
        white-space: nowrap;
    }

    &.hidden {
        display: none;
    }
}
.person-form_container {
    width: 42rem;
}
.genre-form_container {
    width: 20rem;
}
.genre-edit_container {
    width: 42rem;
}
.character-form_container {
    width: 20rem;
}
.casting-form_container {
    width: 80rem;
}
