/* HERO -------------------------------- */

.home_hero {
    width: 100vw;
    height: 48rem;
    background: url(https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fbadedfd1-5c8b-4ed5-94ea-11aa80e49fbb_1920x808.jpeg)
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 12.5rem;
    gap: 3rem;
    align-items: center;
    position: relative;

    & .home_hero_filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.2) 25%,
            rgba(0, 0, 0, 0) 60%
        );
        pointer-events: none;
        z-index: 0;
    }

    & .home_hero_text-content {
        width: 100%;
        gap: 1.5rem;
        z-index: 2;

        & h1 {
            font-size: 56px;
            line-height: 100%;
            text-align: center;
        }

        & p {
            font-size: 20px;
            font-weight: 300;
            text-align: center;
        }
    }

    & .search-form {
        width: 55rem;
        position: relative;

        & input {
            width: 100%;
            height: 3rem;
            padding-left: 1rem;
            border-radius: 6px;
            border: none;
        }
        & .input-icon {
            position: absolute;
            color: var(--grey-color);
            top: calc(50% - (16px / 2));
            right: 1rem;
        }
    }
}
/* ALL SECTIONS */

/* .card-section {
} */
.separator {
    position: relative;
}
.section-title {
    font-size: 32px;
    margin-bottom: 1rem;
}
/* CARDS SECTION __________________________________________________ */
.card-section {
    overflow: hidden;
    margin-bottom: 1.5rem;

    &.home_genres {
        margin-top: -12rem;
    }

    & .home_cards {
        gap: 1.5rem;
        transition: transform 0.5s ease;

        & .home-card {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 20rem;

            &.home-card__square {
                height: 20rem;
            }

            &.home-card__rectangle {
                height: 27rem;
            }

            & .home-card_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .home-card_filter {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.8) 0%,
                    rgba(0, 0, 0, 0.4) 15%,
                    rgba(0, 0, 0, 0) 30%
                );

                &.home-card_filter__bottom {
                    background: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0.8) 0%,
                        rgba(0, 0, 0, 0.4) 15%,
                        rgba(0, 0, 0, 0) 30%
                    );
                }
            }

            & .home-card_info {
                position: absolute;
                font-size: 24px;
                font-weight: 500;

                &.home-card_name {
                    top: 0.5rem;
                    left: 1rem;

                    &::first-letter {
                        color: var(--main-color);
                    }
                }

                &.home-card_director {
                    bottom: 0.5rem;
                    left: 1rem;
                    font-size: 16px;

                    &::first-letter {
                        color: var(--main-color);
                    }
                }
                &.home-card_rating {
                    bottom: 0.5rem;
                    right: 1rem;
                    color: var(--main-color);
                }
            }
        }
    }
}
/* PUSH SECTION ____________________________________________________ */
.home_push {
    width: 100%;
    border-radius: 10px;
    padding-left: 7rem;
    background-color: var(--grey-color);

    & .home_push_content {
        align-items: center;
        width: 100%;
        gap: 3rem;
    }

    & .home_push_text {
        width: 33%;
        gap: 2rem;

        & .home_push_btn {
            width: 8rem;
            height: 3rem;
            border-radius: 3rem;
            line-height: 3rem;
            background-color: var(--main-color);
            color: var(--dark-color);
            font-weight: 700;
            text-align: center;
        }
    }

    & .home_push_posters {
        overflow: hidden;
        max-width: 66%;
        margin-left: auto;
        justify-content: end;
        position: relative;

        & .home_push_filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to right,
                rgb(32, 32, 32, 1) 0%,
                rgba(32, 32, 32, 0) 25%
            );
            pointer-events: none;
        }
    }
}

@media (max-width: 1200px) {
    /* HERO __________ */
    .home_hero {
        & .home_hero_text-content {
            & h1 {
                font-size: 48px;
            }
        }
    }

    /* PUSH SECTION ________ */
    .home_push {
        & .home_push_text {
            width: 100%;
        }
    }
    & .home_push_posters {
        max-width: 50%;
    }
}
